@tailwind base;
@tailwind components;
@tailwind utilities;

/*? improt  quicksand Fonts*/
@import url('./quicksand.fonts.css');


/*? ----------------    All swiper  Styles ---------------- */

.slider_freeMode .swiper-slide{
  width: auto !important;
}

.swiper-button-disabled{
  display: none !important;
  opacity: 0;
}
.swiper-button-next {
   --swiper-navigation-size : 20px;
   background-color: rgb(255, 255, 255);
   padding: 20px 20px; 
   border-radius: 100%;
   margin: 0 10px;

  /*! Change Icon */
  background-image: url(../images/right-arrow.png);
  background-repeat: no-repeat;
  background-size: 40% auto;
  background-position: center;
}
.swiper-button-next::after {
  display: none;
}

.swiper-button-prev {
  --swiper-navigation-size : 20px;
  background-color: rgb(255, 255, 255);
  padding: 20px 20px; 
  border-radius: 100%;
  margin: 0 10px;
  /*! Change Icon */
  background-image: url(../images/left-arrow.png);
  background-repeat: no-repeat;
  background-size: 40% auto;
  background-position: center;
  
}
.swiper-button-prev::after {
  display: none;
}

.swiper-pagination{
   margin: 20px 0 0 0;
   position: absolute;
   bottom: 20px;
   margin: 0px 0 -10px 0;
}
.swiper-pagination-bullet-active-main{
   background-color: white;
}


/*?  Change Application Body Color */
body {
  background-color: #1E1E1E;
}