:root {
     --primary: #212122;
     --secondary: #ffffff80;
}
   
/* Firefox */
*{
     scrollbar-width: thin;
     scrollbar-color: var(--secondary) var(--primary);
}
   
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
     width: 12px;
}
   
*::-webkit-scrollbar-track {
     background: var(--primary);
     border-radius: 0px;
}
   
*::-webkit-scrollbar-thumb {
     background-color: var(--secondary);
     border-radius: 5px;
     border: 3px solid var(--primary);
}
.stop-scrolling {
     height: 100%;
     overflow: hidden;
     margin-right: 12px;
}